//Primary
$primary: #1D4ED8;
$secondary: #C8D7FF;
$success: #2DD98E;
$warning: #FFD076;
$danger: #D70D27;
$info: #FF8F50;
$light: #ffffff;
$dark: #000000;

//Accent Colors
$paroat: #F66767;
$blue: #60D9FF;
$yellowlight-100: #FFDD9A;
$bluelight-100: #83A3FF;
$bluelight-300: #F9FAFE;
$bluelight-400: #F3F6FE;
$bluelight-500: #EFF4FF;
$tintshade-100: #EDF1FF;
$tintshade-200: #F9FAFE;


//Grayscale Shades
$gray-100: #757575;
$gray-200: #F1F1F1;
$gray-300: #E2E2E2;
$gray-400: #DCDCDC;
$gray-500: #CACACA;
$gray-600: #929597;
$gray-700: #464A4B;
$gray-800: #2F3436;
$gray-900: #181A1C;

$bglinear: linear-gradient(270deg, #5984fe 0.3%, #1552fe 99.79%);
$hovercolor: #5984FE;
$btnborder: #B3B3B3;
$iconwraper: #D9D9D9;
$previewbtn: #C5C5C5;
$loadercolor: #f3f3f3;
$pi-star: #ffc224;
$scrollcolor:#1d4ed850;



//Headings
$heading1: 26px;
$heading2: 22px;
$heading3: 20px;
$heading4: 18px;
$heading5: 16px;
$heading6: 14px;

//Display Headings
$dheading1: 60px;
$dheading2: 44px;
$dheading3: 38px;

//Body Text
$paragraph1: 12px;
$paragraph2: 10px;

//Font Weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1367px;