@import "../../../../assets/scss/variable";

.main-wrapper {
  display: flex;
}

.layout-menu {
  width: 19.375rem;
  background: $primary;
  height: 100vh;
  margin: 0;
  list-style: none;
  padding: 0;
  border-radius: 0 2.5rem 2.5rem 0;

  li {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: $light;
    cursor: pointer;
    margin-bottom: 0.5rem;

    span {
      font-size: $heading4;
      font-weight: $fw-500;
      padding-left: 1.125rem;
    }

    &:hover {
      background: $bglinear;
    }
  }
}

.layout-topbar-menu {
  display: flex;
  align-items: center;
  color: $gray-600;

  i {
    color: $gray-600;
  }

  .p-img {
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }
}

.layout-menu {
  width: 19.375rem;
}

.layout-topbar {
  position: relative;
  height: 70px;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 1.875rem;
  background-color: $light;
  display: flex;
  align-items: center;

  .layout-topbar-logo {
    display: flex;
    align-items: center;
    color: $gray-600;
    font-size: 1.5rem;
    font-weight: $fw-500;
    width: 18.75rem;
    border-radius: 0.75rem;

    img {
      height: 2.5rem;
      margin-right: 0.5rem;
    }
  }

  .layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $dark;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    &:hover {
      color: $dark;
      background-color: $gray-600;
    }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      display: none;
    }
  }

  .layout-topbar-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
  }
}

@media (max-width: 991px) {
  .layout-topbar {
    justify-content: space-between;

    .layout-topbar-logo {
      width: auto;
      order: 2;
    }

    .layout-menu-button {
      margin-left: 0;
      order: 1;
    }

    .layout-topbar-menu-button {
      display: inline-flex;
      margin-left: 0;
      order: 3;
    }

    .layout-topbar-menu {
      margin-left: 0;
      position: absolute;
      flex-direction: column;
      // background-color: #eee;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
        0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: 12px;
      padding: 1rem;
      right: 2rem;
      top: 5rem;
      min-width: 15rem;
      display: none;
      -webkit-animation: scalein 0.15s linear;
      animation: scalein 0.15s linear;

      &.layout-topbar-menu-mobile-active {
        display: block;
      }

      .layout-topbar-button {
        margin-left: 0;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        border-radius: 12px;
        padding: 1rem;

        i {
          font-size: 1rem;
          margin-right: 0.5rem;
        }

        span {
          font-weight: medium;
          display: block;
        }
      }
    }
  }
}

.main-dashboard {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.dashboard-wrapper {
  background: $bluelight-400;
  max-height: calc(100vh - 2rem) !important;
  width: 100%;
  padding: 0px 24px 30px;
  height: 100%;
  overflow-y: auto;

}
 
.card-main.card {
  h3 {
    font-size: $heading2;
    font-weight: $fw-500;
    color: $gray-800;
  }
}