<app-loader></app-loader>

<div class="card breadcrumbs">
    <div class="flex justify-content-between flex-wrap card-container purple-container mb-3">

        <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-0">
            <li class="active-dashboard">
                <a [routerLink]="['/manager/dashboard']" class=" no-underline line-height-3 cursor-pointer ">Dashboard</a>
            </li>
            <li class="px-2 bcream-devider">
                <span>|</span>
            </li>
            <li class="current-link">
                <span class=" line-height-3">Company Profile</span>
            </li>
        </ul>
        <!-- <p-button label="Create Parking" styleClass="p-button-outlined mb-0"></p-button> -->
    </div>
</div>
<p-toast></p-toast>
<div class="table-card">
    <form [formGroup]="companyDetails" (ngSubmit)="updateCompanyDetails(companyDetails)">
        <div class="table-top ">
            <h3 class="sub-text">Profile</h3>
            <div class="light-bg">
                <div class="uploadImageOuter">
                    <img [src]="imageUrl" alt="Preview Image" *ngIf="imageUrl" class="preview-image">

                    <div class="editImage" *ngIf="uploadBtn">
                        <input type="file" (change)="onImageSelected($event)" accept="image/*" id="imageInput"
                            style="opacity: 0;">
                        <i class="pi pi-pencil" for="imageInput" style="font-size: .8rem; color: #fff;"></i>
                    </div>
                    <div *ngIf="isProfileImgError">
                        <div class="validation-error">File size exceeds the 5MB limit.</div>
                    </div>
                </div>
            </div>



            <div class="grid form-deatail">
                <div class="col-12 lg:col-6">
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Company Name</label>
                        <input pInputText [readonly]="disableForm" formControlName="name"
                            placeholder="Enter Company Name" id="companyName" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('name')?.hasError('required')  && (companyDetails.get('name')?.dirty || companyDetails.get('name')?.touched)">
                            <div class="validation-error"> This Field is Required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('name')?.hasError('minlength')  && (companyDetails.get('name')?.dirty || companyDetails.get('name')?.touched)">
                            <div class="validation-error"> Minlength required is 3*</div>
                        </div>
                    </div>

                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Mobile Number</label>
                        <input pInputText [readonly]="disableForm" formControlName="mobileNumber"
                            placeholder="Enter Mobile Number" id="mobilenumber" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('mobileNumber')?.hasError('required')  && (companyDetails.get('mobileNumber')?.dirty || companyDetails.get('mobileNumber')?.touched)">
                            <div class="validation-error"> This field is required</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('mobileNumber')?.hasError('pattern')  && (companyDetails.get('mobileNumber')?.dirty || companyDetails.get('mobileNumber')?.touched)">
                            <div class="validation-error"> Please enter only numbers</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('mobileNumber')?.hasError('minlength')  && (companyDetails.get('mobileNumber')?.dirty || companyDetails.get('mobileNumber')?.touched)">
                            <div class="validation-error"> Minimun length should be 9*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('mobileNumber')?.hasError('maxlength')  && (companyDetails.get('mobileNumber')?.dirty || companyDetails.get('mobileNumber')?.touched)">
                            <div class="validation-error"> Maximum length should be 15*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Email</label>
                        <input pInputText [readonly]="disableForm" formControlName="email" placeholder="Enter Email"
                            id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('email')?.hasError('required')  && (companyDetails.get('email')?.dirty || companyDetails.get('email')?.touched)">
                            <div class="validation-error"> This field is required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('email')?.hasError('pattern')  && (companyDetails.get('email')?.dirty || companyDetails.get('email')?.touched)">
                            <div class="validation-error"> Please enter a valid email*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Address 1</label>
                        <input pInputText [readonly]="disableForm" formControlName="addressLine1"
                            placeholder="Enter your address" id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('addressLine1')?.hasError('required')  && (companyDetails.get('addressLine1')?.dirty || companyDetails.get('addressLine1')?.touched)">
                            <div class="validation-error"> This field is required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('addressLine1')?.hasError('minlength')  && (companyDetails.get('addressLine1')?.dirty || companyDetails.get('addressLine1')?.touched)">
                            <div class="validation-error"> Minlength required is 3*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Address 2</label>
                        <input pInputText [readonly]="disableForm" formControlName="addressLine2"
                            placeholder="Enter your address" id="" aria-describedby="username-help" />

                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Zip Code</label>
                        <input pInputText [readonly]="disableForm" formControlName="pincode"
                            placeholder="Enter your Pincode" id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('pincode')?.hasError('required')  && (companyDetails.get('pincode')?.dirty || companyDetails.get('pincode')?.touched)">
                            <div class="validation-error"> This field is required*</div>
                        </div>
                        <div
                            *ngIf="(companyDetails.get('pincode')?.hasError('minlength') || companyDetails.get('pincode')?.hasError('pattern'))&& (companyDetails.get('pincode')?.dirty || companyDetails.get('pincode')?.touched)">
                            <div class="validation-error"> Please enter valid Zip Code*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">City/Town</label>
                        <input pInputText [readonly]="disableForm" formControlName="city"
                            placeholder="Enter your City/Town" id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('city')?.hasError('required')  && (companyDetails.get('city')?.dirty || companyDetails.get('city')?.touched)">
                            <div class="validation-error"> This field is required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('city')?.hasError('pattern')  && (companyDetails.get('city')?.dirty || companyDetails.get('city')?.touched)">
                            <div class="validation-error"> Invalid City name*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">State</label>
                        <input pInputText [readonly]="disableForm" formControlName="state"
                            placeholder="Enter your State" id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('state')?.hasError('required')  && (companyDetails.get('state')?.dirty || companyDetails.get('state')?.touched)">
                            <div class="validation-error"> This field is required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('state')?.hasError('pattern')  && (companyDetails.get('state')?.dirty || companyDetails.get('state')?.touched)">
                            <div class="validation-error"> Invalid State name*</div>
                        </div>
                    </div>
                    <div class="flex flex-column formgrid">
                        <label htmlFor="username">Country</label>
                        <input pInputText [readonly]="disableForm" formControlName="country"
                            placeholder="Enter your Country" id="" aria-describedby="username-help" />
                        <div
                            *ngIf="companyDetails.get('country')?.hasError('required')  && (companyDetails.get('country')?.dirty || companyDetails.get('country')?.touched)">
                            <div class="validation-error">This field is required*</div>
                        </div>
                        <div
                            *ngIf="companyDetails.get('country')?.hasError('pattern')  && (companyDetails.get('country')?.dirty || companyDetails.get('country')?.touched)">
                            <div class="validation-error">Invalid Country name*</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-6">
                    <div class="profile-rightbtn">
                        <div class="flex flex-column formgrid">
                            <div class="flex flex-column gap-2 parking-location formgrid">
                                <label htmlFor="username">Upload Documents</label>
                                <div class="p-inputgroup custom-pinput">
                                    <input type="file" [readonly]="disableForm" #fileInput style="display: none"
                                        (change)="onFileSelected($event)" accept=".pdf, .doc, .docx" multiple />
                                    <input type="text" [readonly]="disableForm" pInputText
                                        placeholder="Upload Documents" aria-describedby="username-help" />
                                    <!-- <button class="send-btn" [disabled]="disableForm" type="button" pButton
                                    icon="pi pi-upload" styleClass="p-button-warn"></button> -->
                                    <button class="send-btn" [disabled]="disableForm" type="button" pButton
                                        icon="pi pi-upload" (click)="fileInput.click()"
                                        styleClass="p-button-warn"></button>
                                    <div *ngIf="companyDetails.get('document')?.hasError('fileSizeExceedsLimit')">
                                        <div class="validation-error">File size exceeds the 5MB limit.</div>
                                    </div>
                                </div>

                                <div class="upload-list" *ngIf="getCompanyData && getAllNotDeletedDocuments().length>0">
                                    <ul>
                                        <li *ngFor="let document of getAllNotDeletedDocuments(); let i = index">
                                            <div *ngIf="!document.isDeleted">
                                                <span>{{ document.name }}</span>
                                                <!-- Other information about the document -->

                                                <i class="pi pi-times" (click)="removeDocument(document.id)"
                                                    *ngIf="document.name && removeDocButton"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="upload-list" *ngIf="newCompanyDocs">
                                    <ul>
                                        <li *ngFor="let document of newCompanyDocs; let i = index">
                                            <div>
                                                <span>{{ document.name }}</span>
                                                <!-- Other information about the document -->

                                                <i class="pi pi-times" (click)="newRemoveDocument(document.name)"
                                                    *ngIf="document && removeDocButton"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <label htmlFor="username">About Company</label>
                            <span class="p-float-label">
                                <textarea id="float-input" [readonly]="disableForm" formControlName="aboutCompany"
                                    placeholder="Enter About Company" pInputTextarea></textarea>
                            </span>
                        </div>

                        <div class="col-12">
                            <p-toast></p-toast>
                            <div class="edit-outer">
                                <p-button *ngIf="showEdit" label="Edit" (click)="btnEdit()"></p-button>
                                <p-button *ngIf="showSave" label="Save" class="ml-2"
                                    (click)="createCompanyDetails()"></p-button>
                                <p-button *ngIf="showUpdate" label="Update" type="submit" class="ml-2"></p-button>
                                <p-button *ngIf="showCancel" styleClass="p-button-outlined mb-0 ml-2"
                                    (click)="onCancel()" label="Cancel" class=""></p-button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>