<div class="booking-popup custom-popup">
 
  <div class="details-heading flex justify-content-between align-items-center">

    <div class="booking-p">
   
      <h3>Booking Details</h3>
      <p><span>{{bookingDetails.driverDetail}}</span></p>

  </div>
  <i class="pi pi-times" (click)="cancelDialog()"></i>
 
  </div>
  <div class="row-divider custom-text flex justify-content-between align-items-center">
    <p>{{bookingDetails.parkingArea}}</p>
    <h3>{{bookingDetails.vehicleType}} <span>({{bookingDetails.vehicleInformation}})</span> </h3>
  </div>
  <div class="blue-strips">
    <div class="hrs-outer flex justify-content-between align-items-center">
      <p>{{bookingDetails.duration}} {{getArrivalDate()}} <span *ngIf="sameDay()">- {{getDepartureDate()}}</span></p>
      <p>Discounted - ${{bookingDetails.discount}}</p>
    </div>
    <div class="timer-main flex justify-content-between align-items-center">
      <div class="left-timer ">
        <ul>
          <li>
            <h4>
              {{bookingDetails.enterTimeIst}}
            </h4>
            <p>Start Time</p>
          </li>
          <li><i class="pi pi-arrow-right" style="font-size: 2rem"></i></li>
          <li>
            <h4>
              {{bookingDetails.exitTimeIst}}
            </h4>
            <p>Exit Before</p>
          </li>
        </ul>
      </div>
      <div class="time-outer">
        <p>${{bookingDetails.total}}</p>
      </div>

    </div>

  </div>
  <div class="popup-overright"  >
    <div class="popup-loder" *ngIf="showLoader; else alternativeDiv">
      <div class="loader">

      </div>
    </div>
    <div class="slots-img" *ngIf="bookingDetails.parkingLayout">
      <p-image [src]="bookingDetails.parkingLayout" alt="Image"></p-image>
    </div>
  </div>
  <!-- <div class="formgrid grid next-btn cancle-btn">
    <div class="field col flex justify-content-end ">
      <p-button label="Cancel" (click)="cancelDialog()" class=""></p-button>
    </div>
  </div> -->
</div>
<ng-template #alternativeDiv>
  <div class="blank-img">
    <p>No Parking Plan Avaliable</p>
  </div>
</ng-template>